services:
  perathon-web:
    build: .
    image: december31/perathon-web:1.0.0
    restart: unless-stopped
    ports:
      - "8080:8080" # Point to internal Nginx port
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.perathon-web.rule=Host(`localhost`)"
      - "traefik.http.routers.perathon-web.entrypoints=web"
      - "traefik.http.services.perathon-web.loadbalancer.server.port=8080"
  traefik:
    image: traefik:v3.0
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy

networks:
  proxy:
    external: true
